@font-face { 
  font-family: 'Roboto'; 
  src: url('../fonts/roboto-bold_1-webfont.woff') format('woff'); 
  font-weight: 700; 
  font-style: normal; 
} 
@font-face { 
  font-family: 'Roboto'; 
  src: url('../fonts/roboto-light_1-webfont.woff') format('woff'); 
  font-weight: 300; 
  font-style: normal; 
} 
@font-face { 
  font-family: 'Roboto'; 
  src: url('../fonts/roboto-lightitalic_1-webfont.woff') format('woff'); 
  font-weight: 300; 
  font-style: italic; 
} 
body {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  min-height: 100%;
  padding-bottom: 80px;
  color: #221F1F;
}
ul {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
}
.clearfix:after {
  clear: both;
}
.container {
width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}
/* Header start */
.header {
  background-color: #1c5bc3;
  min-width: 1100px;
  height: 77px;
}
.header_left {
  float: left;
  width: 50%;
  padding: 20px 0 0;
}
.header_right {
  float: left;
  width: 50%;
  padding: 20px 0 18px;
  text-align: right;
}
.logo {
  position: relative;
  display: inline-block;
}
.contacts_info-wrapper {
  display: inline-block;
}
.phone {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.popup_top {
  display: inline-block;
  color: #ced7ee;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  transition: all .3s;
} 
.popup_top:hover {

  color: #ffffff;
}
.dropdown{ 
  border:1px solid #fff; 
  border-radius:3px; 
  height:60px; 
  position:absolute; 
  width:200px; 
  float:right; 
  margin-right:20px; 
  text-align:center; 
  top:-9999em; 
  opacity:10; 

  transition:0.5s opacity;
  box-shadow:0px 0px 5px 6px #CBD2E0; 
} 
.header__dropdown{
  margin:0px;
}
.grafik__list { 
  position:relative; 
} 
.work_grafik {
  color: #FFFFFF;
  height: 40px;
}
.grafik__list:hover .dropdown{ 
  opacity: 1; 
  cursor: pointer;
  top:0; 
  margin-top:40px; 
  margin-left:-30px; 
  color: #FFFFFF;
 }
.triangle{ 
  bottom:100%; 
  position:absolute; 
  border-top:15px solid transparent; 
  border-right:15px solid transparent; 
  border-bottom:15px solid #fff; 
  border-left:15px solid transparent; 
  left:85%; 
  width:0px; 
  height:0px; 
  top:-30px; 
} 
.dinner{ 
  color:#1C5BC3; 
} 
.dinner2{ 
  color:#221F1F; 
}
.dropdown__text{
  list-style-type: none;
}
.grafik__list {
  position:relative;
  list-style-type: none;
}
/* Header end */
/*footer start */
.footer {
  position: absolute;
  height: 77px;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 1100px;
  background-color: #1c5bc3;
  overflow: hidden;
}
.footer_description {
  width: 40%;
  float: left;
  padding-top: 18px;  
}
.footer_logo {
  width: 20%;
  float: left;
  text-align: center;
  padding-top: 20px;
}
.footer_social {
  width: 40%;
  float: right;
  text-align: right;
  padding-top: 18px;
}
.description {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 300;
}
.description_name, .description_loft {
  font-weight: 700;
  color: #ffffff;
}
.social {
  display: inline-block;
}
.social__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
}
.social-icons {
  font-size: 0;
  text-align: right;
}
.social__item {
  display: inline-block;
  width: 20px;
  height: 20px; 
  text-align: right;
  margin: 5px;
}
.social__item:first-child {
  margin-left: 0;
}
.social-images { 
  display: block; 
  width: 100%; 
  height: 100%; 
  background-repeat: no-repeat; 
  text-indent: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  transition: all .5s; 
} 

.social-images_vk {
  background-image: url('../image/social/1.png');
}
.social-images_vk:hover {
  background-image: url('../image/social/vk.png');  
}
.social-images_fb {
  background-image: url('../image/social/2.png');
}
.social-images_fb:hover {
  background-image: url('../image/social/fb2.png');
}
.social-images_google {
  background-image: url('../image/social/3.png');
}
.social-images_google:hover {
  background-image: url('../image/social/google2.png');
}
.social-images_tw {
  background-image: url('../image/social/4.png');
}
.social-images_tw:hover {
  background-image: url('../image/social/twitter2.png');
}
.social-images_mail {
  background-image: url('../image/social/5.png');
}
.social-images_mail:hover {
  background-image: url('../image/social/mail2.png');
}
/* Начало sidebar */
.sidebar {
    width: 15%;
    float: left;
}
.navigation {
  padding-top: 30px;
}
.navigation_item {
  padding: 0;
  margin-bottom: 17px;
}
.navigation_item:last-child {
  margin-bottom: 0;
}
.navigation_link {
  letter-spacing: 2px;
  position: relative;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #1c5bc3;
  padding: 10px 0 10px 40px;
  transition: all .3s;
}
.navigation_link:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url('../image/sidebar/spritesheet.png');
  background-repeat: no-repeat;
}
.navigation_link-main:before {
  background-position: -25px -25px;
}
.navigation_link-crew:before {
  background-position: -161px -25px;
  width: 23px;
}
.navigation_link-reviews:before {
  background-position: -307px -25px;
}
.navigation_item-active .navigation_link,
.navigation_item:hover .navigation_link {
  color: #221f1f;
}
.navigation_item-active .navigation_link-main:before,
.navigation_item:hover .navigation_link-main:before {
  background-position: -93px -25px;
}
.navigation_item-active .navigation_link-crew:before,
.navigation_item:hover .navigation_link-crew:before {
  background-position: -234px -25px;
}
.navigation_item-active .navigation_link-reviews:before,
.navigation_item:hover .navigation_link-reviews:before {
  background-position: -378px -25px;
}


.sprite-feed_icon:hover {
    background-position: -96px -25px;
}


.sprite-main_icon:hover {
    background-position: -235px -25px;
}



.sprite-team_icon:hover {
    background-position: -376px -25px;
}
/*Main-content */

.pagination {
  margin-top: 35px;
}

.pagination__item {
  display: inline-block;
  font-size: 14px;
  font-style: italic;
}


.pagination__item:after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
}

.pagination__item:last-child:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.pagination__link {
  display: inline-block;
  vertical-align: middle;
  color:  #1C5BC3;
  font-weight: 300;
  line-height: 1.42;
  text-decoration: underline;
}

.pagination__link--current {
  color:  rgba(34, 31, 31, 0.8);
  text-decoration: none;
  cursor: default;
}


.caption {
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
    font-weight: bold;
    font-size: 49px;
      margin-top: 25px;
}

.content {
width: 82.8%;
float: right;
line-height: 1.42;
}    
.workers_info {

    text-align: left;
    width: 900px;
}

.workers_item {
display: inline-block;
    box-sizing: border-box;
    position: relative;
    vertical-align: top;
    max-width: 260px;
    margin: 0px 25px 46px 11px;
    text-align: center;
}
.photo_workers {
  display: inline-block;
  margin-bottom: 20px;
}
.name {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 11px;
}
.workers_occupation {
  color: #1c5bc3;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 13px;
}
.workers_content {
  font-family:'Roboto';
  font-size: 14px;



}
